<div class="container">
    <mat-card class="item" *ngFor="let pokemon of pokemonList" (click)="onItemClick(pokemon.species.name)">
        <img class="icon" mat-card-image [srcset]="pokemon.sprites.other['official-artwork'].front_default">
        <mat-card-content class="info">
            <h3>{{ pokemon.species.name }}</h3>
            <p>{{ '#' + pokemon.id }}</p>
            <ul>
                <li *ngFor="let type of pokemon.types">{{ type.type.name }}</li>
            </ul>
        </mat-card-content>
    </mat-card>
</div>
<button *ngIf="dataAPI.selectedPokemon" mat-fab class="select-btn" (click)="onSelectClick()">Selected</button>